@model IEnumerable<footballstats.Models.Referee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgPenaltiesPerGame)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penalties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgPenaltiesPerGame)
            </td>
        </tr>
}
    </tbody>
</table>
