@model IEnumerable<footballstats.Models.DomainTeam>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinsDuringMainTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinsDuringAddedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LossesDuringMainTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LossesDuringAddedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.PenaltyGoals)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Defendors)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Forwards)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Goalkeepers)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TotalTimePlayed)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.AverageTimePlayed)
            </td>
            @*<th>
                @Html.DisplayNameFor(model => model.Place)
            </th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(x => x.Place)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinsDuringMainTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinsDuringAddedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LossesDuringMainTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LossesDuringAddedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defendors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forwards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goalkeepers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTimePlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageTimePlayed)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>*@
        </tr>
}
    </tbody>
</table>
